/**
 * Stylesheet used for all sites
 *
 * @author Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */


* {
	box-sizing: border-box; /* width and height include paddings and borders */
	margin: 0; /* wipe out browser differences */
	padding: 0; /* wipe out browser differences */ 
}

img {
	border: 0;
}

.structural {
   display: none;
}
