/**
 *
 * Common styles
 *
 * @author !put your name here!
 *
 */

/* ===========================================
   General
   =========================================== */

/* html, body and general element styles here */
/* ... */


/* ===========================================
   Menu
   =========================================== */

/* menu styles here */

nav ul{
  list-style:none;
  display:flex;
}

nav a{
  padding:6px 10px;
  font-size:12px;
  text-decoration:none;
  color:#323030;
}

.active{
   background-color: #a52a2a;
   color: #ffff;
}


/* ===========================================
   Banner
   =========================================== */

/* banner styles here */
#banner{
   border: 5px solid #a52a2a;
   background: url("../img/banner.jpg");
}

#banner p{
   font-size: 12px;
   color:#fff;
   background-color: #323030;
}



/* ===========================================
   Main
   =========================================== */

/* main styles here */
h3{
   color: #b81616;
   text-transform:uppercase;
   line-height: 1;
}


/* ===========================================
   Footer
   =========================================== */

/* footer styles here */
/* ... */
