/**
 *
 * Common styles
 *
 * @author !put your name here!
 *
 */

/* ===========================================
   General
   =========================================== */

/* html, body and general element styles here */
/* ... */
body{
   background-color: #dfdfdf;
   font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
   font-size: 13px;
   line-height: 1.8;
}


/* ===========================================
   Menu
   =========================================== */

/* menu styles here */

nav ul{
  list-style:none;
  display:flex;
}

nav a{
   color:#323030;
   font-size:12px;
   padding:6px 10px;
   text-decoration:none;
}

nav a:hover{
   text-decoration: underline;
   text-underline-offset: 10px;
}

.active{
   background-color: #B52025;
   color: #ffff;
}


/* ===========================================
   Banner
   =========================================== */

/* banner styles here */
#banner{
   border: 5px solid #B52025;
   background: url("../img/banner.jpg");
   box-shadow: 1px 10px 5px #888;
}

#banner p{
   background-color: #323030;
   color:#fff;
   font-size: 12px;
}



/* ===========================================
   Main
   =========================================== */

/* main styles here */
h3{
   color: #B52025;
   font-size: 20px;
   font-weight: 400;
   text-transform:uppercase;
}

h3::after{
   content: " \2192";
}

.minibanner{
   border: 1px solid #a8a6a6;
}

.more{

}

.more a{
   border: 1px solid #B52025;
   border-radius: 5px;
   color: #B52025;
   display: inline-block;
   font-weight: 700;
   padding: 3px 12px;
   text-decoration: none;
}

.newsletter #email{
   background-color: #FDEAEB;
}

.newsletter button{
   background-color: #B52025;
   color: #fff;
}
/* ===========================================
   Footer
   =========================================== */

/* footer styles here */
/* ... */
