* {
   margin: 0;
   padding: 0;
}

html {
   background-color: #fff;
   background-image: url(../img/tile.png);
   background-repeat: repeat;
}

body {
   font-family: Arial, sans-serif;
   border: 10px solid rgb(255, 255, 255);
   height: 600px;
   margin: 20px auto;
   max-width: 300px;
   padding: 40px 100px;
   background-image: url(../img/bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center
}

h1 {
   padding: 37px;
   width: 100%;
   font-family: Caveat, serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-size: 35px;
}

h1 span {
   color: red;
   font-size: 20px;
}

main {
   color: rgb(10, 10, 180);
   padding-top: 8px;
   font-family: "Indie Flower", cursive;
   font-weight: 400;
   font-style: normal;
   font-size: 23px;
}

mark {
   background-color: rgba(255, 117, 117, 0.356);
   color: (black);
   font-weight: bold;
}

footer {
   text-align: end;
   margin-top: 47px;
   font-family: "Indie Flower", cursive;
   color: rgb(10, 10, 180);
}

.salute {
   font-size: 22px;
}

.date {
   margin-top: 8px;
   font-size: 15px;
   font-style: italic;
}