* {
   margin: 0;
   padding: 0;
}

html {
   background-color: #fff;
}

body {
   border: 10px solid white;
   height: 600px;
   margin: 20px auto;
   max-width: 300px;
   padding: 40px 100px;
}

h1 {
   margin-top: 30px;
}

main {
   padding-top: 30px;
}

mark {
   background-color: transparent;
}

footer {
   margin-top: 35px;
}

/* deel 2: achtergronden */
html {
    background-image: url(../img/tile.png);
}

body {
    background-image: url(../img/bg.png);
    background-size: cover;
}


/* deel 3: lettertypes */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Caveat, serif;
}

h1 {

}
/* deel 4: tekstopmaak */


/* deel 5: schaduwen */
