.btnGreen{
    display: inline-block;                 
    background-color: #a8c04e;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    padding: 18px 32px;
    border-radius: 12px;
    line-height: 1;
    transition: background-color .25s ease, transform .2s ease;
}

.btnGreen::after{                    
    display: inline-block;
    margin-left: 16px;
    content: " \2192";
}

.btnGreen:hover{
    background-color: #95b23d;
}

.btnFav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f1e3d3;
    color: #8b1a10;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
}

.btnFav:hover{
    background-color: #e1cfb9;
    color: #d42a16;
}

.heart-icon {
    font-size: 1.5em;
    color: #a0522d;
}


.btnTiktok{
    display: inline-block;
    background-color: #eeeeee;
    background-image: url("../img/logo-tiktok.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: center;
    background-size: 64px;
    color: #222222;
    font-size: 32px;
    text-decoration: none;
    padding: 28px 28px 28px 120px;         
    border-radius: 6px;
    transition: background-color .25s ease, text-decoration-color .25s ease, transform .2s ease;
}

.btnTiktok:hover{
    background-color: #e6e6e6;
    text-decoration: underline;
}
